//variables here
$primary:       #7808F7;
$secondary:     #707070;
$success:       #34AD6D;
$info:          #FA7921;
$light:         #FFFFFA;
$error:         #FF2F5E;

@import 'node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap');
@import url('/font-awesome-4.6.3/css/font-awesome.min.css');
body{font-family: 'Work Sans', sans-serif;background-color: #f0f0f7;}


//custom css here
$black: #66615B;
$grey: #ccc;
$white: #fff;
$yellow: #ff0;
$green: #8bc34a;
$blue: #29d2e4;
$orange: #f87d09;
$dark-pink: #f44336;
$purple: #9c27b0;
$light-purple: #efedff;
//Body
$main-background: $light-purple;
*,
:after,
:before {
  box-sizing: border-box;
}

.title {
  font-weight: normal;
  margin: 0 0 30px;
  text-align: center;
}

// Alerts
@mixin alert-variant($alert-vertical-padding,
$alert-horizontal-padding,
$background,
$border-color,
$text-color) {
  background-color: $background;
  border: 1px solid $border-color;
  position: absolute;
  transition: all 0.3s ease-in-out; 
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  color: $text-color;
  padding: $alert-vertical-padding $alert-horizontal-padding;
  .alert-icon {
    float: left;
  }
  .alert-info {
    margin: 0 10px 0 0;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
  }
  .alert-container {
    position: relative;
    margin: 0 auto;
  }
  .close-icon {
    float: right;
    color: #000;
    margin-top: 0;
    margin-left: 0;
    width: 21px;
    height: 21px;
    position: relative;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    text-indent: -999px;
    overflow: hidden;
    white-space: nowrap;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 8px;
      width: 15px;
      height: 2px;
      left: 0;
    }
    &:before {
      background-color: #fff;
      transform: rotate(-45deg);
    }
    &:after {
      background-color: #fff;
      transform: rotate(45deg);
    }
  }
}

.alert {
  @include alert-variant(15px,
  20px,
  $blue,
  $blue,
  #fff);
  &.alert-custom {
    @include alert-variant(null,null,$black,$black,null);
  }
  &.alert-info {
    @include alert-variant(null,null,$blue,$blue,null);
  }
  &.alert-success {
    @include alert-variant(null,null,$green,$green,null);
  }
  &.alert-warning {
    @include alert-variant(null,null,$orange,$orange,null);
  }
  &.alert-danger {
    @include alert-variant(null,null,$dark-pink,$dark-pink,null);
  }
}




$colors: (
  red: #E93D49,
  orange: #F2711C,
  yellow: #FBBD08,
  olive: #D7E03E,
  green:#34AD6D,
  teal: #79CCCC,
  blue: #2185D0,
  violet: #6435C9,
  purple: #A333C8,
  pink: #F38E9E
);

* {
  box-sizing: border-box;
}


input[type="radio"] {
  display: none;
  &:checked + label {
    span { transform: scale(0.90); }
    @each $name, $value in $colors {
      .#{$name} {
        border: 3px solid darken($value, 25%);
      }
    } // !@each
  } // !&:checked + label
}

.colorPickerLabel {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
  &:hover {
    span { 
      transform: scale(1.50); 
    }
  }
  span {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform .2s ease-in-out;
    @each $name, $value in $colors {
      &.#{$name} {
        background: $value;
      }
    }
  }
}